table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 80%;
    height: 80%;
}

td {
    text-align: center;
    color: white;
    background-color: #bdc3c7;
}
td a, td a:hover, td a:active, td a:visited {
    color: white;
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #f39c12;
    font-weight: bold;
}

#free {
    background-color: #2ecc71;
}

#reserved {
    background-color: #9b59b6;
}

#sold {
    background-color: #e74c3c;
}