<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/TicketDB"
              auth="Container"
              type="javax.sql.DataSource"
              username="vaticketseller"
              password="3ZTN!HJ)HfyknxR"
              driverClassName="org.apache.derby.jdbc.Driver"
              url="jdbc:mysql:/localhost:3306/vaticket"
              maxActive="20" maxIdle="10"
              removeAbandoned="true"
              removeAbandonedTimeout="300"
              logAbandoned="true"/>
</Context>